html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    min-width: 320px;
    background: gray;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    min-width: 320px;
}

/* Basic styling */

nav {
    width: 50%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    display: block;
    width: 20%;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0;
    padding-bottom: 0.1em;
}

h1 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    width: 70%;
    text-align: center;
    margin-bottom: 0.5em;
}

h1, h2, h3 {
    font-family: 'Rosario', sans-serif;
}

p {
    color: rgb(65, 66, 66);
}

button {
    border: none;
    background: rgb(22, 160, 133);
    color: rgb(255, 255, 255);
    width: 10em;
    box-sizing: border-box;
    padding: 0 1.5em;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.btn-text {
    line-height: 3em;
}

button i {
    font-size: 1.5rem;
}

h2, h3 {
    color:  rgb(22, 160, 133);
    margin: 0;
}

p {
    font-size: 0.8rem;
    line-height: 2.5;
    margin-top: 3.5em;
}

i {
    color: rgb(255, 255, 255);
}

.photo-app-section, .gallery-section, .download-section {
    background: rgb(245, 246, 247);
    background-image:
    radial-gradient(rgb(233, 234, 235) 20%, transparent 0), 
    radial-gradient(rgb(233, 234, 235) 20%, transparent 0);
    background-size: 24px 24px;
    background-position: 0 0, 12px 12px;
}

.overview-section, footer {
    background: rgb(255, 255, 255);
}

/* Welcome section */

.welcome-page {
    display: flex;
    flex-direction: column;
    background: url("images/asoggetti-wg9shliyFbE-unsplash.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 3em 0 1em;
    box-sizing: border-box;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

.welcome-page-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-page p {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
}

.side-divider {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgb(255, 255, 255);
	font-size: 12px;
    margin: 0;
    width: 80%;
}

.side-divider::before,
.side-divider::after {
	content: "";
	flex-grow: 1;
	background: rgb(255, 255, 255);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

.welcome-page button {
    margin: 2.2em 0;
}

.social-media-container {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.social-media-link {
    font-size: 1.2rem;
}

/* Photo App section */

.photo-app-section {
    display: flex;
    justify-content: space-between;
    padding: 3em 10%;
}

.section-info, .section-image {
    width: 50%;
}

.section-info {
    padding: 2.5em 0 0;
}

.section-info button {
    margin-top: 2em;
}

.section-image {
    text-align: right;
    position: relative;
}

.photo-app-section .fa-camera {
    position: absolute;
    top: 280px;
    right: 80px;
    color: rgba(191, 190, 190);
    font-size: 3rem;
}

/* Overview section */

.overview-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3em 10% 8.4em;
}

.overview-section .section-image {
    position: relative;
    margin-top: 2.5em;
}

.overview-section img {
    position: absolute;
    top: 0;
    left: 0;
}

/* Gallery */

.gallery-section {
    display: flex;
    justify-content: space-between;
    padding: 4em 10%;
}

.gallery-section .fa-camera {
    color: rgb(22, 160, 133);
    margin-top: 0.7em;
    font-size: 3rem;
}

.gallery-section h3 {
    margin-top: 1.5em;
}

h3 + p {
    margin-top: 1.2em;
    width: 90%;
}

.gallery {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-grid {
    margin-top: 1em;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 25px;
}

.gallery-tile {
    display: block;
    width: 100%;
    min-width: 180px;
    max-width: 250px;
    height: 100%;
    max-height: 150px;
    position: relative;
}

.gallery-tile img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-tile i {
    position: absolute;
    z-index: 5;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    top: 115px;
}

.fa-comment-alt {
    left: 15px;
}

.fa-heart {
    left: 50px;
}

.gallery-nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 18%;
    min-width: 80px;
}

.gallery-nav i {
    font-size: 2rem;
    color: rgb(22, 160, 133);
}

/* Subscription */

.subscription-form-section {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/linda-xu-iMf7bvcIIog-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    height: 600px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

form {
    padding: 13em;
}

form h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 2em;
}

.input-field input {
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 360px;
    padding: 1em 1.5em;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.input-field {
    position: relative;
}

.input-field button {
    position: absolute;
    color: rgb(22, 160, 133);
    right: 12px;
    top: 9px;
    height: 0;
    width: 0;
}

@media screen and (min--moz-device-pixel-ratio:0) {
    .input-field button {
        top: 50%;
    }
}

.input-field i {
    font-size: 2rem;
    color: rgb(22, 160, 133);
}

/* Download */

.download-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 10%;
}

.download-section h2 {
    color: rgb(65, 66, 66);
}

.download-section p {
    max-width: 900px;
    width: 90%;
    margin-top: 1em;
}

.systems {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    width: 40%;
}

.system-bg {
    width: 100px;
    height: 100px;
    background: rgb(22, 160, 133);
    color: rgb(255, 255, 255);
    font-size: 4rem;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

/* Footer */

footer {
    height: 100px;
    padding: 0 15%;
    display: flex;
    align-items: center;
}

footer i {
    color: rgb(22, 160, 133);
    font-size: 3rem;
    margin-right: 0.8em;
}

footer p {
    /* line-height: 100px; */
    margin: 0;
}

footer a {
    color: rgb(65, 66, 66);
    font-size: 0.8rem;
    line-height: 0.9;
    padding: 0 6px;
    display: block;
}

footer a:first-of-type {
    border-right: 1px solid rgb(65, 66, 66);
    margin-left: auto;
}

footer a:last-of-type {
    padding-right: 0;
}

/* Interactions */

.welcome-page-navbar a:hover {
    border-bottom: 4px solid rgb(22, 160, 133);
}

.btn-get-started:hover,
.system-bg:hover {
    background: rgb(6, 126, 102);
}

.social-media-link i:hover {
    color: rgb(22, 160, 133);
}

.gallery-tile i:hover {
    color: rgba(255, 255, 255, 1);
}

.gallery-nav i:hover,
.input-field i:hover,
footer a:hover {
    color: rgb(6, 126, 102);
}

/* Media */

@media screen and (max-width: 1100px) {
    .gallery-section {
        flex-direction: column;
        align-items: center;
    }

    .gallery-section .section-info {
        width: 70%;
        text-align: center;
    }

    .gallery {
        width: 70%;
    }

    h3 + p {
        width: 100%;
    }
}

@media screen and (max-width: 970px) {
    nav ul {
        font-size: 1rem;
    }

    .logo {
        font-size: 2rem;
    }

    .gallery-section {
        padding-top: 2em;
    }

    form h2 {
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 770px) {
    .gallery, .section-info, .download-section p {
        width: 90%;
    }

    .download-section {
        text-align: center;
    }
}

@media screen and (max-width: 770px) {

    nav li:nth-child(3) {
        display: none;
    }

    nav {
        width: 90%;
    }

    footer {
        padding: 0 4%;
    }

    footer i {
        margin-right: 0.4em;
    }

    .overview-section {
        padding-bottom: 3em;
    }

    .section-image {
        display: none;
    }

    .section-info {
        width: 100%;
        text-align: center;
        padding-top: 1.5em;
    }

    .section-info p {
        margin-top: 2.5em;
    }

    .section-info button {
        margin: 1em auto 0;
    }

    .system-bg {
        width: 70px;
        height: 70px;
        font-size: 2.5rem;
        line-height: 70px;
    }

    
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 2rem;
    }

    .gallery-grid {
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .subscription-form-section {
        height: 300px;
    }

    footer .fa-camera {
        display: none;
    }

    .systems {
        width: 50%;
    }

}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .welcome-page {
        padding: 2em 0 1em;
        background: url("images/asoggetti-wg9shliyFbE-unsplash_mobile.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    nav {
        width: 85%;
    }
    
    nav ul {
        font-size: 0.9rem;
        justify-content: space-between;
        align-items: center;
    }
    
    nav li {
        display: inline;
        width: auto;
        text-align: left;
    }

    h1 {
        font-size: 1.5rem;
        width: 90%;
    }

    .welcome-page p {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
    }

    button i {
        font-size: 1.3rem;
    }

    .gallery-section {
        padding: 4em 10%;
    }

    .gallery-section .fa-camera {
        margin-top: 0;
    }

    .gallery-section .section-info {
        width: 100%;
    }

    form h2 {
        font-size: 1.2rem;
    }

    .input-field input {
        width: 300px;
    }

    .download-section p {
        width: 100%;
    }


    .systems {
        width: 80%;
    }

    footer {
        height: 60px;
    }

    footer p, footer a {
        font-size: 0.5rem;
    }
}

@media only screen 
    and (min-height: 320px) 
    and (max-height: 480px) 
    and (max-width: 820px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
    .welcome-page {
        padding: 2em 0 1em;
        background: url("images/asoggetti-wg9shliyFbE-unsplash_mobile.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    nav {
        width: 85%;
    }
    
    nav ul {
        font-size: 0.9rem;
        justify-content: space-between;
        align-items: center;
    }
    
    nav li {
        display: inline;
        width: auto;
        text-align: left;
    }

    h1 {
        font-size: 1.5rem;
        width: 90%;
    }

    .welcome-page p {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
    }

    button i {
        font-size: 1.3rem;
    }

    .gallery-section {
        padding: 4em 10%;
    }

    .gallery-section .fa-camera {
        margin-top: 0;
    }

    .gallery-section .section-info {
        width: 100%;
    }

    form h2 {
        font-size: 1.2rem;
    }

    .input-field input {
        width: 300px;
    }

    .download-section p {
        width: 100%;
    }


    .systems {
        width: 80%;
    }

    footer {
        height: 60px;
    }

    footer p, footer a {
        font-size: 0.5rem;
    }
}